<div class="wrapper">
    <img src="../../../../../assets/register.jpg" alt="">
    <div class="form">
        <h2>Sign <span>up</span></h2>
        <form action="">
            <div class="username">
                <p>Username</p>
                <input type="email" placeholder="johndoe@example.com">
            </div>
            <div class="firstname">
                <p>First name</p>
                <input type="text" placeholder="John">
            </div>
            <div class="lastname">
                <p>Last name</p>
                <input type="text" placeholder="Doe">
            </div>
            <div class="login">
                <p>Email</p>
                <input type="email" placeholder="johndoe@example.com">
            </div>
            <div class="password">
                <p>Password</p>
                <input type="password" placeholder="Your password...">
            </div>
            <input type="submit" class="submit" value="register">
        </form>
    </div>
</div>